page-vw-login {

    ion-content div{
      background-color: $vw-orange;
      color: #fff;
    }

    form {
      ion-label{
        color: #fff;

      }
    }
    .btn-vw-login {
      background-color: #fff;
      color: #000;
    }

    h1{
      background-color: $vw-orange;
      color: #fff;
      margin: 0;
      font-size: 2rem;
    }


}
