page-vw-login {

    ion-content > div{
      // background: url('../assets/img/vw.png') no-repeat transparent;
      background-color: $vw-orange;
      color: #fff;
    }

ion-content  div{
      color: #fff;
    }

    .btn-vw-login {
      background-color: #fff;
      color: #000;
    }

    ion-item {
      background-color: $vw-orange !important;

    }

    h1{
      background-color: $vw-orange;
      color: #fff;
      margin: 0;
      font-size: 2rem;
    }
    .item-input .label-md, .item-select .label-md, .item-datetime .label-md {
      color:white;
    }


}
