page-vw-login {

    .btn-vw-login {
      background-color: $vw-orange;
      color: #fff;
    }

    h1{
      background-color: $vw-orange;
      color: #fff;
      margin: 0;
      font-size: 2rem;
    }


}
