<ion-header>

  <ion-navbar>
    <ion-title>Bank</ion-title>
  </ion-navbar>

</ion-header>


<ion-content scroll="false">
 <ion-slides>
  <ion-slide>
    <h1 padding-left text-left>Portfolio: {{user.portfolio | currency : "USD" : 3}} </h1>
    <!-- <span block *ngIf="user.portfolioDiff < 0" class="red">({{ user.portfolioDiff}}%)</span>
    <span block *ngIf="user.portfolioDiff > -1" class="green">({{ user.portfolioDiff}}%)</span> -->

    <h1 padding-left text-left>Buying Power: {{user.account | currency : "USD" : 3}}</h1>
    <chart  [options]="options"></chart>
     <ion-grid>
          <ion-row>
            <ion-col>
        <a>1 yr</a>
            </ion-col>
          <ion-col>
        <a>1 mo</a>
            </ion-col>
          <ion-col>
        <a>1 wk</a>
            </ion-col>
          <ion-col>
        <a>1 hr</a>
            </ion-col>
          <ion-col>
        <a class="active">min</a>
            </ion-col>

        </ion-row>
      </ion-grid>
  </ion-slide>
  <ion-slide>
    <h1 padding >Portfolio: {{user.portfolio | currency : "USD" : 3}} </h1>



        <ion-grid>
          <ion-row>
            <ion-col>
              Stock
            </ion-col>
            <ion-col>
              Date
            </ion-col>
            <ion-col>
              Value
            </ion-col>
            <ion-col>
              Buy Power
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let trans of stocks.transactions ">
            <ion-col>
        {{trans.name}}
            </ion-col>
          <ion-col>
        {{format(trans.time)}}
            </ion-col>
          <ion-col>
        ${{trans.val}}
            </ion-col>
          <ion-col>
        ${{trans.account}}
            </ion-col>

        </ion-row>
      </ion-grid>

  </ion-slide>
  <ion-slide>
    <h1 padding >Achievements</h1>
    <ion-grid>
          <ion-row>
            <ion-col>
                <ion-icon style="font-size:2em" name="ribbon"></ion-icon><br>
                Buy 10 stocks
            </ion-col>
            <ion-col>
                <ion-icon style="font-size:2em" name="ribbon"></ion-icon><br>
                Complete a whole course
            </ion-col>
            <ion-col>
                <ion-icon style="font-size:2em" name="ribbon"></ion-icon><br>
                Become a billionaire
            </ion-col>
          </ion-row>
        </ion-grid>
  </ion-slide>
</ion-slides>

</ion-content>
