<ion-header>

  <ion-navbar>
    <ion-title>{{stock.name}}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content scroll="false">
  <div padding>
    <h1 text-center>{{stock.val | currency : "USD" : 3}}</h1>

        <h6 text-center block *ngIf="stock.percent < 0" class="red">({{ stock.percent}}%)</h6>
    <h6 text-center block *ngIf="stock.percent > -1" class="green">({{ stock.percent}}%)</h6>

      <div  >
        <chart  [options]="options"></chart>
      </div>

       <ion-grid>
          <ion-row>
            <ion-col>
        <a>1 yr</a>
            </ion-col>
          <ion-col>
        <a>1 mo</a>
            </ion-col>
          <ion-col>
        <a>1 wk</a>
            </ion-col>
          <ion-col>
        <a>1 hr</a>
            </ion-col>
          <ion-col>
        <a class="active">min</a>
            </ion-col>

        </ion-row>
      </ion-grid>

    <p [innerHTML]="stock.content">
    </p>

    <ion-grid>
          <ion-row>
            <ion-col>
              <button (click)="buy()" ion-button color="secondary" block>Buy</button>
            </ion-col>
          <ion-col>
            <button (click)="sell()" ion-button color="danger" block>Sell</button>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>

 </ion-content>
