#drawing svg {
  margin-top: -1500px;
  margin-left: -300px;
}

start-game{

  .ion-page {

  }

  & > ion-content{
    background-image: url('../assets/img/mapBG.svg') !important;
  }

  .fab ion-icon {
    font-size: 5rem;
  }

  .school{
    position: absolute;
    top: 240px;
    left: 25px;
  }

  .townhall{
    position: absolute;
    top: 500px;
    left: 210px;
  }

  .bank{
    position: absolute;
    top: 50px;
    left: 70px;
  }

  .stockexchange{
    position: absolute;
    top: 190px;
    left: 275px;
  }

  #notification-button {
            position: relative;
            width: 70px;
            top:1px;
            right: 1px;
            overflow: visible!important;
        }

   #notifications-badge {
            background-color: red;
            position: absolute;
            top: 7px;
            right: 7px;
            border-radius: 100%;
            font-family: Arial;
        }

}
